DATABASE=<Base de datos> 			p.ej: ORACLE

DATASOURCE_URL=<url>  				p.ej: jdbc:oracle:thin:@localhost:1521:xe
DATASOURCE_USERNAME=<Usuario> 
DATASOURCE_PASSWORD=<Contraseña>
DATASOURCE_DRIVER=<driver>  		p.ej: oracle.jdbc.driver.OracleDriver

JPA_HIBERNATE_DDL=<DDL>      		p.ej: none, update, .....
JPA_HIBERNATE_DIALECT =<dialecto>	p.ej: org.hibernate.dialect.OracleDialect
JPA_HIBERNATE_SHOW=true

